{% extends 'marketing66_base.html.twig' %}

{% block title %}Marketing66{% endblock %}



{% block body  %}
<div class="affiliates ">

    <div class="tous">
    <div>
        <h13>Affiliates Network</h13> <br><br>
        <p class="para1">Providing the highest quality affiliate program <br> meditation for your company. </p>
    </div>

</div>


    <table class="aff" >
        <tr >
            <td><h14>Advertisers </h14></td>
            <td><h14>Affiliates</h14></td>
        </tr>

        <tr >
            <td style="background-color:#daf4f1;">
                <img src="{{ asset('images/images/affiliates_icon1.png') }}"     width="55px" height="55px" style="float:left; "alt="">
                <p15>Partner up with one or several of <br> countless affiliate programs.</p15> </td>


            <td  style="background-color:#daf4f1;">
                <img src="{{ asset('images/images/affiliates_icon4.png') }}"    width="55px" height="55px" style="float:left; "alt="">
                <p15>Partner up with one or several of <br> countless affiliate programs.</p15>
            </td>
        </tr>

        <tr>
            <td  style="background-color:#daf4f1;"
            ><img  src="{{ asset('images/images/affiliates_icon2.png') }}"    width="55px" height="55px" style="float:left; "alt="">
                <p15>Become a premium publisher and <br>join the PPN. </p15>
            </td>
            <td  style="background-color:#daf4f1;"
            ><img src="{{ asset('images/images/affiliates_icon5.png') }}"     width="55px" height="55px" style="float:left; " alt="">
                <p15>Partner up with one or several of <br> countless affiliate programs.</p15>
            </td>
        </tr>


        <tr>
            <td  style="background-color:#daf4f1;"
            ><img src="{{ asset('images/images/affiliates_icon3.png') }}"     width="55px" height="55px"style="float:left; " alt="">
                <p15>Receive expert advice from a skilled<br> account manager.</p15>
            </td>
            <td  style="background-color:#daf4f1;">
                <img    src="{{ asset('images/images/affiliates_icon6.png') }}"  width="55px" height="55px" style="float:left; " alt="">
                <p15>Partner up with one or several of <br> countless affiliate programs.</p15>
            </td>
        </tr>


        <tr>
            <td style="width:30%;"><input id="bouton-send-register" type="submit" value="Register Now"/>  </td>
            <td style="width:30%;"><input id="bouton-send-register" type="submit" value="Register Now"/>  </td>
        </tr>


    </table>

    <ul class="liste-aff" >
        <li type="square" class="l1">We believe your experience finding the perfect and best suited affiliate <br> program should be smooth and successful.
           </li><br><br>
        <li type="square" class="l1">Our team will help you analyse the competition, and constantly work to bring<br>
            more traffic to your site and produce better results. </li> <br><br>
        <li type="square" class="l1">Use tracking technology and tools to promote and optimize your website,<br>
            and maximize profit.</li><br><br>
        <li type="square" class="l1">Get necessary information and insight from a professional, and learn how <br>
            that information can serve you and your company.<br><br>
            </li>
    </ul>



</div>

{% endblock %}