{% extends 'marketing66_base.html.twig' %}

{% block title %}Marketing66{% endblock %}



{% block body %}










    <div class="tout" style="background-color: white;">


        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="{{ asset('images/images/aso-icon.png') }}"   width="75px" height="75px" alt="">
                <h12> ASO </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Get the highest possible ranking for your app, and downloads <br>
                that come with it. Whether it be for iPod or Android.<br>
                <mark> <b>We will help you optimize the content of your app.</b> </mark>
            </div> <!--text -->

        </div>
        &nbsp; <br><br><br><br><br><br>

        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img  src="{{ asset('images/images/social-media-icon.png') }}"  width="75px" height="75px" alt="">
                <h12> Social Media </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Create and maintain a high-quality and successful social media <br>
                campaign, targeting the appropriate audiences using the relevant <br>
                social media platforms to optimize results.<br>
                <mark>  <b>Our team will help you choose the keywords that will bring <br></b></mark>
                <b> the most traffic to your site.</b>
            </div> <!--text -->
        </div>
        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="{{ asset('images/images/Web-Development-icon.png') }}"   width="75px" height="75px" alt="">
                <h12> Web Development</h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Enhance visitor's experience on your site by developing the<br>
                graphics and content.<br>
                <mark><b>Learn how to build a website that will create a positive <br>
                        user experience.</b></mark>
            </div> <!--text -->
        </div>
        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="{{ asset('images/images/Google-Adwords-icon.png') }}"  width="75px" height="75px" alt="">
                <h12>Google Adwords</h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Create the most relevant and useful ads so your website appears <br>
                at the very top of Google's search results.<br>
                <mark><b>Our team will help you choose the keywords that will bring <br>
                        the most traffic to your site.</b></mark>
            </div> <!--text -->
        </div>
        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="{{ asset('images/images/Affiliate-Networks-icon.png') }}"  width="75px" height="75px" alt="">
                <h12> Affiliate Networks </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                With the help of our team, find the best affiliate programs to <br>
                advertise your product or service, based on relevancy and quality. <br>
                Advertise on several sites and platforms, but coordinate with only <br>
                one account manager.<br>
                <mark>  <b>We offer the best prices per offer, and provide excellent <br>
                        customer support. Our team assists advertisers as well!<br>
                        Publish your offer and enjoy traffic from numerous affiliates.</b></mark>
            </div> <!--text -->
        </div>

        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="{{ asset('images/images/SEO-Content marketing-icon.png') }}"  width="75px" height="75px" alt="">
                <h12> SEO/Content marketing </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                <mark><b>Our team will provide professional SEO services and ensure <br>
                        your content is high-quality and easily readable for both<br>
                        Google crawlers and human audience.</b></mark><br>
                Invest in your content and SEO for a guarantee of traffic to your<br>
                site.

            </div> <!--text -->
        </div>

    </div>





{% endblock %}